<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>475819853751-nscrulr9i68kapnj8nrbngfrr2ai16cs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.475819853751-nscrulr9i68kapnj8nrbngfrr2ai16cs</string>
	<key>API_KEY</key>
	<string>AIzaSyASCS5bVv2eCq9qpkq_706Vj4XKcYw0XS8</string>
	<key>GCM_SENDER_ID</key>
	<string>475819853751</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.made.andres.PicSalsa</string>
	<key>PROJECT_ID</key>
	<string>picsalsa-2eab5</string>
	<key>STORAGE_BUCKET</key>
	<string>picsalsa-2eab5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:475819853751:ios:113b6e3e98dcbb50aaca32</string>
</dict>
</plist>